body {
  font-family: 'Roboto', sans-serif;
  font-size: 14pt;
}

canvas {
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}

.title {
    font-size: 22pt;
    text-align: center;
}

.text {
    width: 75%;
    margin: 0 auto;
}

.footer {
  font-size: 12pt;
  color: #778899;
  height: 80px;
  text-align: center;
  position: relative;
  margin-top: 40px;
}

.chart-title {
  font-family: 'Roboto';
  text-align: center;
  font-weight: bold;
  color: #000;
  font-size: 16pt;
}

.chart {
 width: 50%;
 margin: 0 auto;
}

.chartjs-tooltip {
  opacity: 1;
  position: absolute;
  background: rgba(0, 0, 0, .7);
  color: white;
  border-radius: 3px;
  -webkit-transition: all .1s ease;
  transition: all .1s ease;
  pointer-events: none;
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  padding: 4px;
}

.chartjs-tooltip-key {
  display: inline-block;
  width: 10px;
  height: 10px;
}
