body {
  height: 100%;
  font-family: 'Roboto', sans-serif;
  font-size: 14pt;
  color: #2d3135;
  margin: 0px;
  padding: 0px;
  min-height: 100vh;
  min-height: -webkit-fill-available;
}

.moz a:hover {
  position: relative;
  text-decoration: none;
  background-color: #ffdd00;
}

.moz a:active {
  color: black;
}

.moz a:hover::after {
  content: "";
  position: absolute;
  bottom: -4px;
  margin-bottom: 4px;
  left: 0px;
  right: 0px;
  border: 2px solid black;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

canvas {
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}

.numbers {
   margin-top: 40px;
   width: 60%;
   margin-left: auto;
   margin-right: auto;
}

.numbers-container { 
  display: flex;
  flex-flow: row wrap;
  -moz-box-pack: justify;
  justify-content: space-between;
}

.number-item {
  display: flex; 
  flex-direction: column;
  border-top: 2px solid rgb(177, 180, 182);
  padding-top: 20px;
  grid-column: span 1;
  margin-bottom: 2rem;
  width: 40%;
}

.number-title {
  margin-bottom: 5px;
  color: black;
  font-size: 22px;
  font-weight: bold; 
  display: block;
}

.number-number {
  display: block;
  margin-bottom: 10px;
  color: rgb(54, 126, 147);
  font-weight: 700;
  font-size: 3rem;
  line-height: 1.11;
  align-self: center;
}

.number-text {
  margin: 0px;
  color: rgb(98, 106, 110);
}

.svg-logo {
  display:inline-block;
  height:1rem;
  vertical-align:top;
}

.title {
  text-align: center;
  padding: 0 15px;
}

h1 {
    font-size: 22pt;
}

h2 {
    font-size: 20pt;
}

.text {
    width: 75%;
    margin: 0 auto;
}

* > :last-child { 
  margin-bottom: 0 !important;
  margin-right: 0 !important; 
}

.footer {
  display: flex;
  background: #f3f2f1;
  border-top: 1px #b1b4b6 solid;
  font-size: 12px;
  color: #555;
  width: 100%;
  padding: 15px 0;
  margin-top: 20px;
  line-height: 1.25;
  clear: both;
}

.footer-text {
  padding-left: 50px;
  text-align: left;
  padding-right: 10px;
  width: 100%;
}

.chart-title {
  font-family: 'Roboto';
  text-align: center;
  font-weight: bold;
  font-size: 16pt;
}

#title-date {
  text-decoration: underline;
  text-decoration-style: dotted;
}

.chart {
 margin: 0 auto;
}

@media only screen and (max-width: 1023px) {
  .chart {
    width: 90%;
  }
}

@media only screen and (min-width: 1024px) {
  .chart {
    width: 50%;
  }
}

.chartjs-tooltip {
  opacity: 1;
  position: absolute;
  background: rgba(0, 0, 0, .7);
  color: white;
  border-radius: 3px;
  -webkit-transition: all .1s ease;
  transition: all .1s ease;
  pointer-events: none;
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  padding: 4px;
}

.chartjs-tooltip-key {
  display: inline-block;
  width: 10px;
  height: 10px;
}
